* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #FFFF;
}
header {
    display: flex;
    justify-content: center;
    height: 180px;
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}
nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFF;
}
#banner {
    color: #FFFF;
    display: flex;
    justify-content: center;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: 670px;
    font-size: 12px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.banner_headline h1 {
    color: #FFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0px #5555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2 {
    color: #FFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #5555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_options {
    height: 210px;
    display: flex;
}
.banner1,
.banner2,
.banner3 {
    flex: 1;
    padding: 20px;
}
.banner1 {
    background-color: #39aae1;
}
.banner2{
    background-color: #0079c7;
}
.banner3 {
    background-color: #2b4c99;
}
.banner_title {
    font-size: 21px;
}
.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner_options a {
    color: #FFFF;
    display: inline-block;
    border: 1px solid #FFFF;
    padding: 5px;
    font-size: 13px;
    text-decoration: none;
}
.hours dl {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FFF9;
    padding-bottom: 10px ;
}
#geral {
    display: flex;
    justify-content: center;
}
#geral section {
    flex: 2;
}
#geral aside {
    flex: 1;
}
.widget_title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000000;
    font-size: 15px;
    font-weight: bold;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #39a9e1;
    margin-top: 10px;
    margin-bottom: 10px;
}
.widget_body{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    position: relative;

}
.box_container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    background-color: #36a9e1;
}
.widget_body a {
    text-decoration: none;
    color: #000000;
}

.box_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_container a {
    background: #000000;
}
.widget_text {
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.contato {
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
}
.contato_fone {
    flex: 1;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 25px;
}
.contato img {
    width: 17px;
    height: 17px;
}
.contato_email {
    flex: 1;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: normal;
}
.contato_pagina {
    flex: 1;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 25px;
    font-weight: normal;
}
.widget_bar {
    margin-top: 15px;
    border: solid 1px #a1a1a1;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    
}
article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
article a {
    text-decoration: none;
}
article .news_data {
    display: flex;
}
article .news_posted_at {
    background-color:#2b4c99;
    font-size: 12px;
    color: #FFFF;
    padding: 10px;
    margin-right:2px;
}
article .news_coments {
    background-color:#36a9e1;
    font-size: 12px;
    color: #FFFF;
    padding: 10px;
}
article .news_thumbnail {
    margin-top: 30px;
}
article .news_thumbnail img {
    width: 100%;
    height: auto;
}
article .news_title {
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 23px;
}
article .news_resume {
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 30px;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content:center;
}
.flexcolumn {
    flex-direction: column;
    display: inline-block;
}
.footer_menu {
    display: flex;
}
.fm_1, 
.fm_2,
.fm_3 {
    flex: 1;
    color: #FFFFFF;
}
.fm_1 {
    background-color: #39aae1;
}
.fm_2{
    background-color: #0079c7;
}
.fm_3 {
    background-color: #2b4c99;
}
.footer_menu a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #FFFFFF;
}
footer .footer_area {
    background-color: #1e1e1e;
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}
footer .widget_title_text {
    color: #FFFFFF;
}
.footer_rodape {
    border-top: solid 1px #2c2c2c;
    color: #5c5c5c;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    margin-top: 30px;
}
.conteudo_footer {
    display: inline-block;
    color: #5c5c5c;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_areaitem dl {
    display:flex;
    justify-content: space-between;
    color: #5c5c5c;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 1px;
}
.fm_1,
.fm_2,
.fm_3, h1 {
    color: #FFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0px #5555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.fm_1,
.fm_2,
.fm_3, h3 {
    color: #FFFF;
    font-size: 12px;
    text-shadow: 0px 1px 0px #5555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.conteudo_footer a {
    text-decoration:none;
    color: #5c5c5c;
}
.conteudo_footer2 {
    color: #5c5c5c;
}

.Menumobile {
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mmline {
    height: 3px;
    background-color: #39a9e1;
}

@media only screen and (max-device-width: 600px) {
    
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 55px;
    }
    .banner_headline h2 {
        font-size: 17px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    #geral section {
        margin-top: 40px;
        padding: 20px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
    } 
    .footer_rodape {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }
    header {
        height: auto;
    }
}   .logo {
    padding-left: 20px;
}
.Menumobile {
    display: flex;
    justify-content: space-around;
    flex-direction:column;
}

